.card {
    background: #fff;
    border-radius: 2px;
    height: 175px; 
    margin: 0 auto;
    position: relative;
    min-width: 16rem;
    max-width: 16rem;
    cursor: pointer;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    float: left;
    clear: both;
  }

  .card img{
    width: 50%;
    margin: 0 auto;
    position: relative;
    top:10px;
  }

  .card img:hover{
  width:55%;
  transition-duration: 1s;
  animation-duration: 5s;

  }
  


  @media screen and (max-width:600px)and (min-width: 221px){
    .card {
      min-width: 5rem;
      max-width: 5rem;
      height: 50px; 
      margin: -10px auto;
    }

    
  .card img{
    top:0px;
  }

  }

  @media screen and (max-width: 220px) and (min-width: 0px) {

    .card {
      min-width: 4rem;
      max-width: 4rem;
      height: 40px;
      margin: -10px auto;
    }

    .card img{
      top:2px;
    }

  }

  