.jumbotron-fluid {
  font-family: 'Finger Paint', cursive;
  width: 100%;
  text-align: center;
  color:white;
  margin-bottom: 50px;
  background-image: url("jumbo-bg.jpg");
  background-color: #cccccc;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-size: 3.5em;

}

.Title{
  position:relative;
  top:150px;
}



@media screen and (max-width:600px)and (min-width: 221px){
  .jumbotron-fluid{
    font-size: 2.5em;
  }

  .Title{
    top:140px;
  }
  
 
}

@media screen and (max-width: 220px) and (min-width: 0px) {

  .jumbotron-fluid{
    font-size: 2.0em;
    height:200px;
  }

  .Title{
    top:60px;
  }
}
