.instructions{
  text-align: center;
  width:80%;
  font-size: 1.25em;
  font-family: 'Finger Paint', cursive;
  color:rgb(136, 218, 136);
  margin:auto;
}


@media only screen and (max-width: 550px) {
  .instructions{
    font-size: 1em;
  }
}

/* 
font-family: 'Caveat Brush', cursive;
font-family: 'Finger Paint', cursive; */